#umbrel {
    
    background-color: #be2d2d;
     max-width: 100%;
    /*width: 900px; */
    border: 135px solid #be2d2d;
    
   
    padding-top: 47px;
    padding-right: 30px;
    padding-bottom: 305px;
    padding-left: 147px;
   
}
.sanseri{
    font-family: "century gothic" ;
    font-style: normal;
    font-size: 15px;
    color: white;
    position:fixed;
    left:625px;
    bottom: 185px;

}
.umbrell{
    max-width: 100%;
    height: auto;
    position: fixed;
    bottom: 250px;
    left: 600px;
}