body{
font-family: "Lato", sans-serif;
background-color: #be2d2d;
}

@media screen and (max-width: 767px) {
	.sidenav {
	height: auto;
	padding: 15px;
}
.row.content {height: auto;} 
}
.form-control{
	background-color:#9847cc;
	background-position: center;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#84df69;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    word-break: break-all;

    font-family: "century gothic" ;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 400px;
    color: white;
}

.sidenav a {    /*letters mesa sto sidenav*/
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #9847cc;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.col{
	background-color: #be2d2d;
}

/* SEARCH BOX */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #9847cc;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    left: 600px;
    top: 250px;
}
p.sentence1{
   font-family: "century gothic" ;
font-style: normal;
font-size: 20px;
color:white;
position: absolute;
    left: 590px;
    top: 180px;
}

.sentence{
font-family: "century gothic" ;
font-style: normal;
font-size: 20px;
color:white;
position: absolute;
left: 550px;
top: 350px;
}
/*access location icon */
#access{
    position: absolute;
    left: 580px;
    bottom:150px;
}
#searchButton{
    max-width: 100%;
    height: auto;
    position: fixed;
    left: 600px;
    top: 250px; 
}